<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container" style="max-width:400px; text-align:center;">

    <h2>📝 Create Account</h2>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Choose Username"
            required
            style="padding:12px; width:80%; border-radius:8px;">
        <br><br>

        <input
            type="password"
            name="password"
            placeholder="Choose Password"
            required
            style="padding:12px; width:80%; border-radius:8px;">
        <br><br>

        <button type="submit">Register</button>

    </form>

    <br>

    <a href="/">Back to Login</a>

</div>

</body>
</html>